In [2]:
import pandas as pd

In [3]:
PATH = '/Users/espen/Desktop/Open ML Course/Assignment 1/athlete_events.csv'

In [362]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [342]:
print("Task 1")
print("Male min age: " +  str(data[(data['Year'] == 1992) & (data['Sex'] == 'M')]['Age'].min()))
print("Female min age: " +  str(data[(data['Year'] == 1992) & (data['Sex'] == 'F')]['Age'].min()))

Task 1
Male min age: 11.0
Female min age: 12.0

In [116]:
data.drop_duplicates(subset = 'ID', keep = False, inplace = True)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
28,9,Antti Sami Aalto,M,26.0,186.0,96.0,Finland,FIN,2002 Winter,2002,Winter,Salt Lake City,Ice Hockey,Ice Hockey Men's Ice Hockey,NaN

In [345]:
print("Task 2")
all_players = data[(data['Year'] == 2012) & (data['Sex'] == 'M')]
len1 = float(len(all_players['ID'].unique()))
basket_players = all_players[all_players['Sport'] == 'Basketball']
len2 = float(len(basket_players['ID'].unique()))
print(round(len2/len1 * 100,1))

Task 2
2.5

In [347]:
print("Task 3")
print("Mean: " +  str(round(data[(data['Year'] == 2000) & (data['Sex'] == 'F') & (data['Sport'] == 'Tennis')]['Height'].mean(), 1)))
print("Std.dev: " +  str(round(data[(data['Year'] == 2000) & (data['Sex'] == 'F') & (data['Sport'] == 'Tennis')]['Height'].std(), 1)))

Task 3
Mean: 171.8
Std.dev: 6.5

In [349]:
print("Task 4")
data1 = data[(data['Year'] == 2006)].sort_values(by='Weight', ascending=False)
data1[:1]['Sport']

Task 4

8102    Skeleton
Name: Sport, dtype: object

In [352]:
print("Task 5")
print(len(data[(data['Name'] == 'John Aalberg')]['Year'].unique()))

Task 5
2

In [199]:
print("Task 6")
print(len(data[(data['Year'] == 2008) & (data['Sport'] == 'Tennis') & (data['Medal'] == 'Gold') & (data['NOC'] == 'SUI')].index))

Task 6
2

In [357]:
print("Task 7")
test = data[(data['Year'] == 2016) & (data['NOC'].isin(['ITA', 'ESP'])) & (data['Medal'].isin(['Gold', 'Silver', 'Bronze']))]
test.groupby(by=['NOC'])['Medal'].count()

Task 7

NOC
ESP    45
ITA    72
Name: Medal, dtype: int64

In [359]:
print("Task 8")
data['age_bins'] = pd.cut(x=data['Age'], bins=[15, 24, 34, 44, 55])
data.groupby(by=['age_bins']).count()

Task 8

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
age_bins,,,,,,,,,,,,,,,
"(15, 24]",127854,127854,127854,127854,104614,103343,127854,127854,127854,127854,127854,127854,127854,127854,17644
"(24, 34]",110991,110991,110991,110991,91359,90437,110991,110991,110991,110991,110991,110991,110991,110991,18306
"(34, 44]",15111,15111,15111,15111,9663,9288,15111,15111,15111,15111,15111,15111,15111,15111,2261
"(44, 55]",3377,3377,3377,3377,1436,1360,3377,3377,3377,3377,3377,3377,3377,3377,458

In [361]:
print("Task 9")
Atlanta = data[data['City'].str.contains('Atlanta')]
SquawValley = data[data['City'].str.contains('Squaw Valley')]
if len(Atlanta):
    print("Yes")
else:
    print("No")
if len(SquawValley):
    print("Yes")
else:
    print("No")

Task 9
Yes
Yes

In [363]:
print("Task 10")
First = len(data[(data['Year'] == 1986)])
Second = len(data[(data['Year'] == 2002)]['Sport'].unique())
print(abs(Second-First))

Task 10
15